
<body style="background:#cccccc; font-style:arial; color:black; text-align:center;">
	<h1 style="color:green;">{{title}}</h1>
	<h2 style="color:red">Administrative Tools</h2>

	<br><br><br>

	<a href="/new_blog">New Blog</a><br><br>
	<a href="/blog_tool">Edit Existing Blogs</a><br><br>
	<a href="/about_tool">Manage About Us Statement</a><br><br>
	<a href="/product_tool">Manage Products</a><br><br>
	<a href="/gallery_tool">Manage Picture Gallery</a><br><br>
	<a href="/company_tool">Manage Company Profile</a><br><br>
	<a href="/account_tool">My Account</a><br><br>
	<a href="/user_tool">Manage Employee Access</a><br><br>
	<a href="/email">Email</a><br><br>
	<a href="/">Logout</a><br><br>

	<br><br><br>
	<p>Index: {{btn_data}}</p>
</body>