<body style="background-color:#cccccc; text-align:center; font-family:Arial; padding-top: 50px;">
	<h1 style="color:red">{{title}}</h1>
	<h3 style="color:green;">Blogs</h3>

	<div style="width:600px; margin:auto;">
		<ul style="text-align:left;">
			{% for b in blogs %}
			<li>
				<b style="color:blue;">{{b.f_date}}</b>
				<div>{{b.blog.subject}}</div>
				<div style="margin-bottom: 20px;">{{b.blog.content}}</div>
			</li>
			{% endfor %}
		</ul>
	</div>

	<a href="/">Home Page</a>&nbsp
	<a href="/about">About Us</a>&nbsp
	<a href="/blog">Blog</a>&nbsp
	<a href="/pricing">Services</a>
	<a href="/gallery">Users</a>
</body>