<body style="background-color:#cccccc; text-align:center; font-family:Arial; padding-top: 50px;">
	<h1 style="color:red">{{title}}</h1>
	<h3 style="color:green;">Users</h3>

	<div style="width:650px; margin:auto;">
		<ul style="text-align:left;">
			{% for u in users %}
			<li>
				<b style="color:blue;">{{u.fname}} {{u.lname}}</b>
				<div>{{u.email}}</div>
				<div style="margin-bottom: 40px;">${{u.password}}</div>
			</li>
			{% endfor %}
		</ul>
	</div>

	<a href="/">Home Page</a>&nbsp
	<a href="/about">About Us</a>&nbsp
	<a href="/blog">Blog</a>&nbsp
	<a href="/products">Services</a>&nbsp
	<a href="/contact">Contact</a>&nbsp
	<a href="/gallery">Users</a>
</body>